* {
    box-sizing: border-box;
}

p,h1 {
    font-family:'Lucida Grande', Tahoma, Geneva, Verdana, sans-serif;
    style :bold;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
 }

header {

}

.heading {

}

/* Bagian Service*/

#services {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 620px;
    margin:0 auto;
    background-color: #E2EBFD;
    text-align: center;
}
.service{
    width: 100%;
    

}
.service-item {
    float:left;
    width:50%;
    padding-left: 20px;
 
}
.service-img{
    width: 25%;
    height: 25%;
}

.line-vertikal {
    border-left: 1px black solid;
    height: 250px;
    width: 0px;
}

.btn-circle {
    font-size: 30px;
    border: 3px solid #C0C0C0;        
    background-color:#135ff1;        
    color: #FFFFFF;                  
    width: 50px;                     
    height: 50px;                    
    line-height: 16px;                
    text-align: center;               
    border-radius: 50%;      
}

.btn-circle:hover {
    opacity:0.8;
}
.btn-circle:active{
    background:cornflowerblue;
}


/*bagian project*/
.project {

}

/* bagian client */
#client {
    background-color: #E2EBFD;
    width: 100%;
    padding: 5px 0 0;
}

#client h1 {
    color: #3282FA;
}

.column {
    float: left;
    width: 25%;
    text-align: center;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: block;
    clear: both;
  }

/* bagian contact */
.contact {

}

footer {
    background-color: #5698FD;
    text-align: center;
    padding: 5px;
    color: #FFFFFF;
}

.section-title {
    /* border-bottom:2px solid #c8d2f7; */
    padding-bottom:15px;
    margin-bottom:50px;
    text-align: center;
    font-size: 36px;
    color: #3282FA;
}





